.about {
    background: url(img/section2.jpg),
                linear-gradient(to left, #F4F2F2, #FFFFFF) ;
    background-blend-mode: overlay;
    box-shadow: inset 0 4px 40px rgba(0,0,0, 0.1);
    // @extend %section2;


.container {
    @extend %container;
    flex-direction: row;
    align-items: flex-start;
    h2 {
        font: {
            family: $Yeseva;
            size: 36px;
            weight: normal;
        }
        
        color: $gorchiza;
        text-align: center;
        line-height: 40px;
        padding-bottom: 25px;
    }

    .about__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #4C4C4C;
        img {
            margin: 0 auto;
        }

        p {
            text-align: center;
            line-height: 28px;
            padding: 15px 0;
        }
    }
}

}