.content3 {
    background-image: url(img/content3.jpg);
    @extend %section3;
    padding: 100px;
    display: flex;
    justify-content: center;

    .container {
        @extend %container-content3;
        flex-direction: column;
        background-color: rgba($color: #000000, $alpha: 0.8);
    }

    &__description {
        @extend %content3-description;


        h2 {

            font: {
                family: $Yeseva;
                size: 36px;
                weight: normal;
            }
        }

        p {
            text-align: center;
            line-height: 42px;

            font: {
                family: $Lato;
                size: 24px;
                weight: normal;
            }

        }
    }

}