.footer {
    background-color: rgba($color: #000000, $alpha: 0.75);
    @extend %footer-sec;

    .container {
        @extend %container-footer;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: flex-start;

        @include tablet {
            flex-direction: column;
            width: 50%;
            align-items: center;
        }
    }

    &__description1 {
        flex-basis: calc(100% / 3);
    }

    &__description2 {
        flex-basis: calc(100% / 3);
    }

    &__description3 {
        flex-basis: calc(100% / 3);
    }

    .paycell {
        padding-top: 10%;
    }

    h2 {
        font: {
            family: $Yeseva;
            weight: normal;
        }

        @include tablet {
            margin-top: 30px;
        }

    }
}